<%- include("templates/encabezado")%>
<h1>Tus datos son:</h1>
<h4>Nombre: <%= nombre   %></h4>
<h4>Cantidad: <%= cantidad   %></h4>
<h4>Precio: <%= precio   %></h4>
<h4>Codigo de Producto: <%= codprod   %></h4>
<%- include("templates/pie")%>